@import "~bulma/bulma";

$panel-w: 400;
$color-black: #222222;
$color1: #222222;
$color2: #f9f9f9;
$color3: #ae956d;
$color4: #4bb8e8;
$color5: #255b73;

$color-muni: #0000dc;
@import "./checkradio";

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map {
  top: 0;
  bottom: 0;
  right: 0;
  left: $panel-w;
  position: fixed;
  .leaflet-container {
    height: 100%;
    width: 100%;
    .leaflet-tile-container {
      filter: grayscale(10%) sepia(40%) brightness(95%);
    }
  }
}

.panel {
  font: normal 16px/1.45 Arial, Helvetica Neue, sans-serif;
  height: 100%;
  overflow-y: auto;
  overflow-x: none;
  bottom: 0;
  left: 0;
  width: $panel-w;
  position: fixed;
  color: $color1;
  background-color: $color2;
  padding: 20px;
  h1.title {
    color: $color-muni;
  }
  .subtitle {
    color: $color-black;
    strong {
      color: $color1;
    }
  }
  hr {
    margin: 1rem 0;
  }
  .section-label {
    margin-bottom: 1rem;
  }
  .panel-control {
    padding-left: 10px;
    padding-bottom: 15px;
    strong {
      color: $color2;
    }
  }

  .order-group {
    margin-bottom: 0.75rem;
  }

  .checkbox {
    display: block;
    label {
      display: inline;

      .legend-name {
        padding-left: 0.1em;
        font-size: 0.9rem;
      }
      .legend-color {
        width: 1.4em;
        height: 1.3em;
        position: absolute;
        left: 0px;
        z-index: -1;
        display: inline-block;
      }
    }
    &.only-label {
      label {
        padding-left: 1.5rem;
      }
    }
  }
}

.marker-icon-wrapper {
  border: 2px solid black;
  border-radius: 20px !important;
}

.map-base-layer {
  opacity: 0.6 !important;
}

.popup {
  .heading {
    font-weight: 800;
    margin-bottom: 5;
  }
}

.cluster-text {
  font-size: 13px !important;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: system-ui;
  text-anchor: middle;
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $color-black;
  border: 1px solid $color-black;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out,
    -webkit-transform 0.3s ease-out;
  width: 1rem;
}
.input-range__slider:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: black;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  color: $color-black;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}
.input-range__label {
  &.input-range__label--value {
    display: block;
  }
  display: none;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: $color-black;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

/*# sourceMappingURL=react-input-range.css.map*/
